/** hide nav menu icons on mobile **/

@media screen and (max-width: 575px) {
  .dashboard-icon, .account-icon, .feedback-icon {
    display: none;
  }
}

body {
  background-color: #f6f8f9;
  height: 100%;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*NAVIGATION*/

.nav-logo {
  width: 156.137pt;
  height: 24.152pt;
}

.navigation {
  background-color: white;
  min-width: 785px;
  /* height: 81pt; */
  padding-top: 26px;
  padding-right: 25px;
  /* margin-right: 18px; */
}

.nav-link {
  color: #707584;
  font-size: 12pt;
  font-family: Montserrat;
  font-weight: bold;
  margin-left: 5px;
}

.dashboard-icon {
  width: 13.212pt;
  height: 11.006pt;
  margin-top: 10px;
  /* margin-left: 60px; */
}

.account-icon {
  width: 10.841pt;
  height: 12.679pt;
  margin-top: 9px;
  /* margin-left: 90px; */
}

.feedback-icon {
  width: 13.584pt;
  height: 10.427pt;
  margin-top: 12px;
}

button {
  /* width: 276.52pt; */
  /* height: 26.933pt; */
  font-style: Montserrat;
  font-size: 12pt;
  font-weight: bold;
  /* padding-bottom: 15px;
  padding-left: 100px; */
}

.navbar-toggler {
  width: 60px;
}

/*CALL TO ACTION*/

.card {
  padding-top: 30px;
  /* border-style: solid; */
  border-radius: 30px;
  background-color: white;
  width: 557.826pt;
  height: 636.966pt;
}

.cta {
  padding-top: 150px;
  /* padding-bottom: 30px; */
  min-width: 785px;
  /* height: 919.691pt; */
}

h2 {
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 43pt;
  color: #707584;
}

p {
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
  font-size: 17pt;
  color: #555a67;
}

.present {
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184pt;
  height: 121pt;
  text-align: center;
}

.arrow {
  width: 67pt;
  height: 54pt;
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
}

table {
  color: #555a67;
  font-family: Roboto;
  font-size: 17pt;
  background: #FFFFFF;
  background: rgba(255, 255, 255, 1);
  /* border-style: none; */
  /* border-bottom-style: dashed: */
}

/* td {
  padding-top: 40px;
} */

.labels {
  display: block;
  border-bottom: 1px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.labels input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  vertical-align: middle;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 21.5pt;
  height: 21.5pt;
  border: 1.5pt solid;
  border-color: #EDF0F3;
  border-radius: 3px;
  background-color: white;
}

/* On mouse-over, add a grey background color */

.labels:hover input~.checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a green background */

.labels input:checked~.checkmark {
  background-color: #77c04e;
  border-color: #77c04e;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.labels input:checked~.checkmark:after {
  display: inline;
}

/* Style the checkmark/indicator */

.labels .checkmark:after {
  left: 10px;
  top: 4px;
  width: 7px;
  height: 16px;
  border: solid white;
  border-radius: 1px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* i {
  width: 11.576 pt;
  height: 42.296 pt;
  align-items: center;
} */

.fa-facebook-f {
  color: #475994;
  vertical-align: middle;
}

.fa-facebook-messenger {
  color: #5383FA;
  vertical-align: middle;
}

.fa-twitter {
  color: #60A9E9;
  vertical-align: middle;
}

.crown {
  padding-top: 20px;
  vertical-align: middle;
}

.fa-envelope {
  padding-top: 20px;
  vertical-align: middle;
}

.checkbox-1 {
  display: block;
  /* vertical-align: middle; */
}

.checkbox {
  top: 20px;
  vertical-align: middle;
}

/* .table>thead>tr>th {
  border-bottom: 2px solid red;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: 1px solid red;
} */

/* .primary {
  border-bottom-color: 2px solid green;

} */

/* .table {
  border-bottom-color: #000000;
} */

/* .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-bottom-color: #000000;
  border-top-color: #000000;
} */

/* .table {
  @table-border-color: black;
} */

/* tr {
  border: 3px solid red;
} */

/* .table {
  background: #FFFFFF;
  background: rgba(255, 255, 255, 1);
} */

/* tr {
  border: 2px solid rgba(255, 255, 255, .5);
} */

/* tr {
  border: 2px solid rgba(230, 245, 230, );
} */

/*GIVEAWAY LINKS*/

li {
  text-align: center;
  list-style: none;
}

.links {
  padding-top: 50pt;
  padding-bottom: 50pt;
  min-width: 785px;
}

.bottom-links {
  font-size: 17pt;
  color: #77c04e;
  font-family: Roboto;
}

/*FOOTER*/

footer {
  height: 280pt;
  display: block;
  background-color: white;
  min-width: 785px;
  padding-top: 30px;
}

.footer-links {
  font-family: Montserrat;
  font-weight: bold;
  padding-top: 20px;
}

.buy-link {
  color: #77c04e;
}

.bottom-logo {
  text-align: center;
  padding-top: 80px;
  /* vertical-align: middle; */
  /* width: 106.738pt;
  height: 16.511pt; */
}

.copyright {
  padding-top: 60px;
  font-family: Roboto;
  font-size: 11pt;
}

.family {
  font-family: Roboto;
  font-size: 11pt;
}

.family-links {
  font-family: Roboto;
  font-size: 11pt;
  color: #77c04e;
}